<html> <head> <title>Modifier un produit</title>
</head>
<body>
<center>

    <fieldset style="width: 50%">
        <form method="POST">
            libelle: <input type="text" name="libelle" value="{{ produits.libelle }}"> <br>
            </br>
            <input type="submit" value="Enregistrer">
        </form>
    </fieldset>
</center>
</body>
</html>