{% extends '@Wassim/base.html.twig' %}
{% block body %}
    </br> </br>
    <center><h1>Authorized Comments List</h1></center>
    </br> </br>
    <div class="list-group">

     {% for AuthorizedComment in AuthorizedComments %}
        <center> <a href="{{ path('authorized_comments_edit',{'id':AuthorizedComment.id}) }}"" class="list-group-item list-group-item-action">{{ AuthorizedComment.comment }}
              </a></center>
     {% endfor %}
        </br></br></br>

        <a id="bottom"></a>

        <center><form action="{{ path('authorized_comments_afficher') }}" method="post"
        <fieldset>
            <h3> Add a new comment </h3>

            <div action "" class="form-group">
                <input type="text" class="form-control" name="comment" placeholder="Enter the new comment">

            </div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </fieldset>
        </form></center>
        </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>



    </div>
{% endblock %}