<html> <head> <title>Modifier une photo</title>
</head>
<body>
<center>

    <fieldset style="width: 50%">
        <form method="POST">
            Nom: <input type="text" name="nom" value="{{ photos.nom }}"> <br>
            </br>
            <input type="submit" value="Enregistrer">
        </form>
    </fieldset>
</center>
</body>
</html>